.card {
  $borderColor: #469285;
  position: fixed;
  --spaceX: 6rem;
  --spaceY: 2rem;
  left: var(--spaceX);
  right: var(--spaceX);
  top: var(--spaceY);
  bottom: var(--spaceY);
  border: 3px solid $borderColor;
  box-shadow:rgba(44, 195, 170, 0.4) 0px 1px 40px 0px;
  background: rgba(0, 0, 0, 0) linear-gradient(114deg, rgba(105, 99, 99, 0) 0%, rgb(18, 17, 17) 100%) repeat scroll 0% 0%;
  border-radius: 20px;
  transition: all 0.5s;

  .cardInner {
    position: absolute;
    --space: 0.2rem;
    left: var(--space);
    right: var(--space);
    top: var(--space);
    bottom: var(--space);
    border: 3px solid $borderColor;
    border-radius: 1rem;
    padding: 1.6rem;

    .simpleBar {
      height: 100%;
      width: 100%;
      display: flex;
      // Apply scroll vertically only
      overflow-x: hidden;

      [class="simplebar-content-wrapper"] {
        [class="simplebar-content"] {
          min-height: 100%;
          display: flex;
          .content {
            width: 100%;
            opacity: 0.8;
            display: flex;
            flex-direction: column;
            .textLarge {
              font-size: 48px;
              font-weight: 400;
              margin: 0 auto;
              text-align: center;
              max-width: 437px;
            }
            .horizontalLine {
              width: 175px;
              height: 3px;
              background-color: #ED5055;
              margin: 20px auto 10px auto;
            }
      
            .textSmall {
              font-size: 16px;
              font-weight: 400;
              margin: 0 auto;
              text-align: center;
              max-width: 437px;
            }
  
            .cardBody {
              flex: 1;
              display: flex;
            }
          }
        }
      }
    }
  }
}

.cardHidden {
  scale: 0;
  opacity: 0;
}

.cardShow {
  scale: 1;
  opacity: 1;
}

.closeIcon {
  position: absolute;
  --space: 2rem;
  top: var(--space);
  right: var(--space);
  width: 48px;
  height: 48px;
  background-color: rgba(gray, 0.8);
  border-radius: 9999px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.closeIcon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  transition: all 0.3s;
  color: white;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
    color: red;
  }
}

.closeIcon:hover svg {
  transform: translate(-50%, -50%) scale(1.2);
  color: red;
}