.chat {
  position: fixed;
  bottom: 32px;
  left: 32px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(gray, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.chat div:nth-child(1) {
  display: flex;
}

.chat [class*="chat"] {
  width: 30px;
  height: 30px;
  transition: all 0.5s;
  color: white;
}

.chatOpen [class*="chat"] {
  color: red;
}

.chat [class*="icon"] {
  position: absolute;
  transition: all 0.5s;
  opacity: 0;
}

.chatOpen [class*="icon"] {
  opacity: 1;
}

.chatOpen [class*="icon"]:nth-of-type(1) {
  transform: translate(0, -80px);
}

.chatOpen [class*="icon"]:nth-of-type(2) {
  transform: translate(75px, -80px);
}

.chatOpen [class*="icon"]:nth-of-type(3) {
  transform: translate(80px, 0);
}