.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 460px;
  margin-bottom: 70px;
  gap: 10px;
}

.footer [class*="img"] {
  width: 100px;
  height: 100px;
  opacity: 0.5;
}

.footer [class*="text-large"] {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.footer [class*="text-small"] {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}